body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  display: inline;
  position: relative;
  z-index: 50;
  font-family: 'Waiting for the Sunrise';
  margin-right: 5px;
  color: #fff;
}

header {
  position: relative;
  width: 100%;
}

main {
  background-color: #6abaaa;
  position: absolute;
  border-radius: 10px;
  padding: 5px;
  width: 960px;
}

.pizza-cat {
  height: 283px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.pizzas-line {
    background-color: #01a29a;
    text-align: right;
}

.title {
  font-size: 100px;
  font-family: 'Waiting for the Sunrise';
  position: absolute;
  right: 0;
  bottom: -47px;
  color: #f25749;
  z-index: 5;
  text-shadow: 0 1px 1px #000000
}

.hours {
  font-size: 20px;
  padding-left: 2px;
  color: #f1e4ba;
  font-family: 'Ubuntu';
  float: right;
  width: 350px;
}

.hours-title {
  color: #ffffff;
  text-shadow: 0 1px 1px #000000
}

.locations {
  width: 600px;
  float: left;
  height: 500px;
}

.contact {
  width: 350px;
  float: right;
}

.hours-info {
  font-size: 20px;
}

.pizzas {
  font-size: 20px;
  padding-left: 2px;
  color: #f1e4ba;
  font-family: 'Ubuntu';
  position: relative;
  top: 15px;
  text-align: center;
}
