body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  display: absolute;
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 960px;
  height: 342px;
}

main {
  background-color: #404464;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 960px;
  height: 800px;
  border: solid 10px black;
  border-top: 0;
}

h1 {
  color: #ffffff;
  text-shadow: 0 1px 1px #000000
  font-size: 20px;
  font-family: 'Ubuntu';
  margin-left: auto;
  margin-right: auto;
}

h2 {
  display: inline;
  font-family: 'Waiting for the Sunrise';
  color: #fff;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pizza-cat {
  height: 300px;
  width: 960px;
  margin: auto;
}

.pizzas-line {
    background-color: #404464;
    text-align: right;
    width: 960px;
    border: 1px solid black;
    position: relative;
}

.title {
  font-size: 100px;
  display: inline;
  position: relative;
  font-family: 'Waiting for the Sunrise';
  width: 960px;
  margin: auto;
  color: #9D61B3;
  z-index: 5;
  text-shadow: 2px 2px 2px #ffffff;
  top: 93px;
}

.hours {
  padding-left: 2px;
  float: right;
  width: 350px;
}

.locations {
  position: relative;
  width: 600px;
  float: left;
  height: 800px;
  display: flex;
  flex-direction: row;
}

.locations-title {
  width: 100%;
  align-self: stretch;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  display: block;
  justify-content: stretch;
}

.ballard {
  width: 100%;
  background-color: #ACB6FF;
}

.first-hill {
  width: 100%;
  background-color: #ACB6FF;
}

.international-district {
  width: 100%;
  background-color: #ACB6FF;
}

.south-lake-union {
  width: 100%;
  background-color: #ACB6FF;
}

.georgetown {
  width: 100%;
  background-color: #ACB6FF;
}

.ravenna {
  width: 100%;
  background-color: #ACB6FF;
}

.contact {
  width: 350px;
  float: right;
}

.hours-info {
  font-size: 20px;
  font-family: 'Ubuntu';
}

.pizzas {
  font-size: 20px;
  padding-left: 2px;
  color: #f1e4ba;
  font-family: 'Ubuntu';
  position: relative;
  top: 15px;
  text-align: center;
}
