body {
  margin: auto;
  width: 960px;
  text-align: center;
  background-color: #fff;
  display: absolute;
}

h1 {
  font-family: 'Ubuntu';
  font-size: 25px;
  color: #9498bf;
  text-shadow: 0 1px 1px #ffffff;
}

h2 {
  font-family: 'Ubuntu';
  font-size: 25px;
}

span {
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  background-color: #9498bf;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pizzas-served, .pizzas-served-text {
  font-family: 'Waiting for the Sunrise';
  color: #fff;
  position: relative;
  margin: auto;
  z-index: 4;
  display: inline;
  bottom: 160px;
}

.title {
  font-size: 100px;
  position: relative;
  font-family: 'Waiting for the Sunrise';
  width: 960px;
  margin: auto;
  color: #9D61B3;
  z-index: 5;
  text-shadow: 2px 2px 2px #ffffff;
  bottom: 115px;
}

.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
}

.flex-items-default {
  width: 300px;
  height: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  flex-wrap: wrap;
}

.pizza-cat {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 960px;
  height: 300px;
}

.pizzas-line {
    background-color: #404464;
    height: 46px;
    border: 1px solid black;
    flex-grow: 1px;
    flex-shrink: 0;
    flex-basis: 960px;
}

.content {
  height: 400px;
  border-top: 0;
  flex-grow: 1px;
  flex-shrink: 0;
  flex-basis: 960px;
}

.flex-content-container {
  background-color: #404464;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
  width: 960px;
  height: 400px;
  border: 1px solid black;
  border-top: 0;
}

.locations {
  width: 300px;
  height: 400px;
  flex-grow: 3;
  flex-shrink: 0;
}

.right-content-container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  width: 300px;
  height: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  border-left: 1px solid black;
}

.hours, .contact {
  width: 100%;
}

.ballard, .first-hill, .international-district, .south-lake-union, .georgetown, .ravenna {
  padding-top: 10px;
  width: 100%;
  background-color: #9498bf;
  border-radius: 10px;
}
