body {
  background-image: url(http://data3.whicdn.com/images/127698038/original.gif);
}

td, table, tr, th {
  border: 1px solid black;
  padding: 3px;
  background-color: #fff;
  font-family: Verdana;
}

table {
  border-collapse: collapse;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: Verdana;
}

input[type=text] {
  border-radius: 5px;
}

input, button {
  font-family: Verdana;
  color: #000000;
  background-color: #B5E5FF;
}

legend {
  font-family: Verdana;
  font-size: 18px;
  font-weight: bold;
  color: #21B28C;
  background-color: #fff;
  border-radius: 10px;
  border-top: 1px black solid;
  text-decoration: underline;
}

fieldset {
  background-color: #fff;
  border-radius: 10px;
}

h2 {
  font-family: 'Verdana';
  text-transform: capitalize;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: #B5E5FF;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
  text-shadow: 0 1px 1px #000000
}

nav {
  width: 100%;
  height: auto;
  position: relative;
}

li {
  background-color: #21B28C;
  padding: 2px;
  border: 2px dotted black;
  border-radius: 10px;
}

ul {
  position: absolute;
  list-style-type: none;
  display: inline-block;
  margin-right: 0;
  right: 175px;
  top: 55px;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Waiting for the Sunrise';
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  background-color: #B5E5FF;
  color: #fff;
  width: 700px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1px;
  text-shadow: 0 1px 1px #000000
}

th {
  background-color: #21B28C;
  font-family: Verdana;
  color: #FFF5F2;
}

a {
  text-decoration: none;
  font-family: Verdana;
  color: #FFEB7C;
}

a:hover {
  color: #ffffff;
}
