body {
  background-image: url(http://data3.whicdn.com/images/127698038/original.gif);
}

td, table, tr, th {
  border: 1px solid black;
  padding: 3px;
  background-color: #fff;
  font-family: Verdana;
}

table {
  border-collapse: collapse;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: Verdana;
}

input[type=text] {
  border-radius: 5px;
}

input, button {
  font-family: Verdana;
  color: #000000;
  background-color: #B5E5FF;
}

legend {
  font-family: Verdana;
  font-size: 18px;
  font-weight: bold;
  color: #21B28C;
  background-color: #fff;
  border-radius: 10px;
  border-top: 1px black solid;
  text-decoration: underline;
}

fieldset {
  background-color: #fff;
  border-radius: 10px;
}

h2 {
  font-family: 'Verdana';
  text-transform: capitalize;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: #B5E5FF;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
  text-shadow: 0 1px 1px #000000
}

nav {
  width: 100%;
  height: auto;
  position: relative;
}

li {
  background-color: #ffffff;
  border: 2px dotted black;
  border-radius: 10px;
  padding: 5px;
}

ul {
  position: absolute;
  list-style-type: none;
  display: inline-block;
  margin-right: 0;
  right: 270px;
  top: 150px;
  font-size: 20px;
  padding: 0px;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Waiting for the Sunrise';
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  background-color: #B5E5FF;
  color: #fff;
  width: 700px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1px;
  text-shadow: 0 1px 1px #000000
}

th {
  background-color: #21B28C;
  font-family: Verdana;
  color: #FFF5F2;
}

a {
  text-decoration: none;
  font-family: Verdana;
  color: #3D7FE8;
}

a:hover {
  color: #21B28C;
}




.marquee {
 height: 50px;
 overflow: hidden;
 position: relative;
 background: white;
 color: orange;
 border: 1px solid orange;
}
.marquee p {
font-family: 'Waiting for the Sunrise';
font-size: 40px;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 8s linear infinite;
 -webkit-animation: scroll-left 8s linear infinite;
 animation: scroll-left 8s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}
