body {
  background-image: url(http://data3.whicdn.com/images/127698038/original.gif);
}

td, table, tr, th {
  border: 1px solid black;
  padding: 3px;
  background-color: #fff;
}

table {
  border-collapse: collapse;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: Verdana;
}

input[type=text] {
  border-radius: 5px;
}

input, button {
  font-family: Verdana;
  color: #B24D2E;
  background-color: #FFF5F2;
}

legend {
  font-family: Verdana;
  font-size: 18px;
  font-weight: bold;
  color: #21B28C;
  background-color: #fff;
  border-radius: 10px;
  border-top: 1px black solid;
  text-decoration: underline;
}

fieldset {
  background-color: #fff;
}

h2 {
  font-family: Verdana;
  text-transform: capitalize;
  color: #B24D2E;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
}

nav {
  width: 100%;
  height: auto;
  position: relative;
}

li {
  background-color: #fff;
  padding: 2px;
  border: 3px dotted #B24D2E;;
  border-radius: 10px;
}

ul {
  position: absolute;
  list-style-type: none;
  display: inline-block;
  margin-right: 0;
  right: 55px;
  top: -9px;
  font-size: 25px;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: Verdana;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 700px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
}

th {
  background-color: #21B28C;
  font-family: Verdana;
  color: #FFF5F2;
}

a {
  text-decoration: none;
}

a:hover {
  color: #21B28C;
}
